* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    margin: auto;
    flex-direction: column;

    background-image: url(./Assets/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;


    .more-options {
        position: absolute;
        top: 0;
        right: 0;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            margin-right: 5px;
            margin-top: 5px;

            a {
                text-decoration: none;
                color: #fff;
            }

            li {
                padding: 5px 10px;
                border: 2px solid #fff;
                color: #fff;
                margin-left: 5px;
                cursor: pointer;
                text-shadow: none;
                transition: text-shadow 0.3s;

                &:hover {
                    text-shadow: 1px 1px 3px #000;
                }
            }
        }

        #signIn-signOut {
            padding: 0px;
        }

        .big-devices,
        .touch-devices {
            .signIn {
                position: relative;
                width: 110px;
                padding: 5px 0;
                text-align: center;

                ul {
                    display: none;
                    position: absolute;
                    // flex-direction: column;
                    left: -1px;

                    li {
                        width: 110px;
                        margin: 2px;
                        text-align: center;
                    }

                    li:nth-child(1) {
                        border-top: none;
                    }
                }

                &:hover ul {
                    display: block;
                }
            }
        }

        .touch-devices {
            display: none;
        }

        @media screen and (max-width: 768px) {

            .big-devices {
                display: none;
            }

            .touch-devices {
                display: flex;
                align-items: flex-end;
                gap: 5px;

                .enableOnClick.disabled {
                    display: none;
                }
            }
        }


    }

    .chat-box-touch-devices {
        display: none;
    }

    h1 {
        padding: 10px 0;
        padding-bottom: 30px;
        color: #fff;
        text-decoration: underline;
    }

    .prevent-select {
        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */
    }

    .hello-msg {
        margin-bottom: 20px;
        margin-top: 10px;
        background: rgba(115, 101, 166, 0.36);
        border: 1px solid #fff;
        border-radius: 10px/20px;
        box-shadow: 0 0 10px 2px #333;

        svg {
            width: 500px;
            height: 60px;
        }

        .text-copy {
            fill: none;
            /*   stroke: #fff; */
            stroke-dasharray: 6% 29%;
            stroke-width: 0.3px;
            stroke-dashoffset: 0%;
            animation: anim 5.5s infinite linear;
        }

        .text-copy:nth-child(1) {
            stroke: #f25f5c;
            animation-delay: -1s;
        }

        .text-copy:nth-child(2) {
            stroke: #f25f5c;
            animation-delay: -2s;
        }

        .text-copy:nth-child(3) {
            stroke: #247ba0;
            animation-delay: -3s;
        }

        .text-copy:nth-child(4) {
            stroke: #247ba0;
            animation-delay: -4s;
        }

        .text-copy:nth-child(5) {
            stroke: #ffe066;
            animation-delay: -5s;
        }

        @keyframes anim {
            100% {
                stroke-dashoffset: -35%;
            }
        }
    }

    .chat-box.disable {
        opacity: 0;
    }

    .chat-box {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 4fr auto;
        height: 80%;
        width: 80%;
        border: 1px solid #fff;
        box-shadow: 0 0 10px 2px #333;

        .box:nth-of-type(1) {
            grid-row-start: 1;
            grid-row-end: 3;
            display: flex;
            flex-direction: column;
            overflow: auto;
            color: #fff;

            div {
                border-radius: 4px;
                padding: 5px 10px;
                margin: 2px;
                font-weight: 800;
                text-transform: capitalize;

            }

            .user {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .contextTriggerBtn {
                    position: relative;
                    margin-left: auto;

                    .contextMenu {
                        border: 1px solid #333;
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: none;
                        background-color: rgba(255, 255, 255, 0.6);
                        z-index: 2;

                        div {
                            ul {
                                list-style: none;

                                li {
                                    button {
                                        width: 180px;
                                        padding: 5px;
                                        margin: 5px 0px;

                                    }
                                }
                            }
                        }
                    }

                    .contextMenu.visible {
                        display: block;
                    }
                }
            }
        }


        .box:nth-of-type(2) {
            overflow: auto;
            border-left: none;
            border-bottom: none;
            display: flex;
            flex-direction: column;
            color: #fff;

            //remove scrollbar
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;

            /* Firefox */
            &::-webkit-scrollbar {
                display: none;
            }

            div {
                margin: 2px;
                border-radius: 4px;
                padding: 5px 10px;
                font-weight: 800;
                text-transform: capitalize;
            }

            .right {
                align-self: flex-end;
            }

            .left {
                align-self: flex-start;
            }

            .chat-msg {
                display: flex;
                flex-direction: column;

                .subscript {
                    display: none;
                    font-size: x-small;
                    text-transform: lowercase;
                }
            }
        }

        .box:nth-of-type(3) {
            height: 50px;
            align-self: end;
            border-left: none;

            input {
                border: none;
                width: 100%;
                font-size: 1.5rem;
                padding: 0 5px;
                background-color: transparent;
                color: #fff;
                outline: none;
            }

            .sendBtn {
                width: 80px;
                background: burlywood;
                border-radius: 5px;
                color: #fff;
                text-shadow: 2px 2px 5px #333;
                font-weight: 800;
            }
        }


    }

    .box {
        border: 1px solid #fff;
        // color: #333;
        display: flex;
    }

    .notificationDiv {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .popup-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .card-container {
                .card {
                    width: 99%;
                    height: 99%;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    color: #333;
                    background-color: rgba(39, 212, 234, 1);
                    border-radius: 1rem;
                    overflow: hidden;
                    z-index: 1;

                    ul {
                        font-size: 16px;
                        text-align: justify;
                        padding: 5px;
                        margin-top: 5px;
                        overflow: auto;
                    }

                    p {
                        font-size: x-large;
                        text-decoration: underline;
                        margin-top: 5px;
                        position: absolute;
                        top: 8px;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    .btn {
                        margin-top: 5px;
                        width: 60px;
                        align-self: center;
                        background-color: rgba(255, 255, 255, 0.7);
                        border-radius: 3px;
                        transition: background-color 0.3s;
                        position: absolute;
                        bottom: 20px;

                        &:hover {

                            background-color: #fff;
                        }

                        a {
                            color: #333;
                            display: inline-block;
                            width: 100%;
                            text-decoration: none;
                            padding: 2px 0;
                        }
                    }

                    .btn-justify-col {
                        display: flex;
                        justify-content: center;

                        div {
                            width: 100px;
                            margin: 5px;
                        }
                    }

                }

                display: grid;
                place-items: center;
                position: relative;
                width: min(420px, 95%);
                height: 200px;
                border-radius: 1rem;
                background-color: #fff;
                overflow: hidden;

                &::before {
                    content: "";
                    position: absolute;
                    width: 480px;
                    height: 35px;
                    top: -130px;
                    right: 200px;
                    background-color: #377953;
                    transform: rotate(-45deg) translate(0, -100px);
                }

                &:hover::before {
                    animation-name: cardEffect;
                    animation-timing-function: linear;
                    animation-duration: 0.7s;
                    animation-direction: alternate;
                    animation-iteration-count: 2;
                }

                @keyframes cardEffect {
                    100% {
                        transform: rotate(-45deg) translate(0, 600px);
                    }
                }

                .close {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    font-size: x-large;
                    z-index: 2;
                    background-color: rgba(255, 255, 255, 0.7);
                    padding: 0px 10px;
                    font-weight: bolder;
                    cursor: pointer;
                    border-radius: 2px;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #fff;
                    }
                }
            }
        }
    }

    .notificationDiv.disable {
        display: none;
    }

    @media screen and (max-width: 768px) {

        .more-options {
            width: 100%;
            margin: auto;
        }

        .chat-box {
            margin-top: 50px;
            height: 95%;
            width: 95%;
            display: none;


        }

        .chat-box-touch-devices {
            display: grid;
            grid-auto-rows: 93% 7%;
            height: 90vh;
            grid-auto-columns: 1fr;
            width: 95vw;
            margin-top: 20px;

            border: 1px solid #fff;
            box-shadow: 0 0 10px 2px #333;


            .box:nth-of-type(1) {
                overflow: auto;
                border-left: none;
                border-bottom: none;
                display: flex;
                flex-direction: column;
                color: #fff;

                //remove scrollbar
                -ms-overflow-style: none;
                /* IE and Edge */
                scrollbar-width: none;

                /* Firefox */
                &::-webkit-scrollbar {
                    display: none;
                }

                div {
                    margin: 2px;
                    border-radius: 4px;
                    padding: 5px 10px;
                    font-weight: 800;
                    text-transform: capitalize;
                }

                .right {
                    align-self: flex-end;
                }

                .left {
                    align-self: flex-start;
                }

                .chat-msg {
                    display: flex;
                    flex-direction: column;

                    .subscript {
                        display: none;
                        font-size: x-small;
                        text-transform: lowercase;
                    }
                }
            }

            .box:nth-of-type(2) {
                height: 50px;
                align-self: end;
                border-left: none;

                input {
                    border: none;
                    width: 100%;
                    font-size: 1.5rem;
                    padding: 0 5px;
                    background-color: transparent;
                    color: #fff;
                    outline: none;
                }

                .sendBtn {
                    width: 80px;
                    background: burlywood;
                    border-radius: 5px;
                    color: #fff;
                    text-shadow: 2px 2px 5px #333;
                    font-weight: 800;
                }
            }

        }

        h1 {
            padding: 10px 0;
            padding-top: 30px;
            font-size: large;
            color: #fff;
        }

        .hello-msg {
            display: none;
        }
    }
}