* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  margin: auto;
  flex-direction: column;
  background-image: url(./Assets/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container .more-options {
  position: absolute;
  top: 0;
  right: 0;
}
.container .more-options ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-right: 5px;
  margin-top: 5px;
}
.container .more-options ul a {
  text-decoration: none;
  color: #fff;
}
.container .more-options ul li {
  padding: 5px 10px;
  border: 2px solid #fff;
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
  text-shadow: none;
  transition: text-shadow 0.3s;
}
.container .more-options ul li:hover {
  text-shadow: 1px 1px 3px #000;
}
.container .more-options #signIn-signOut {
  padding: 0px;
}
.container .more-options .big-devices .signIn,
.container .more-options .touch-devices .signIn {
  position: relative;
  width: 110px;
  padding: 5px 0;
  text-align: center;
}
.container .more-options .big-devices .signIn ul,
.container .more-options .touch-devices .signIn ul {
  display: none;
  position: absolute;
  left: -1px;
}
.container .more-options .big-devices .signIn ul li,
.container .more-options .touch-devices .signIn ul li {
  width: 110px;
  margin: 2px;
  text-align: center;
}
.container .more-options .big-devices .signIn ul li:nth-child(1),
.container .more-options .touch-devices .signIn ul li:nth-child(1) {
  border-top: none;
}
.container .more-options .big-devices .signIn:hover ul,
.container .more-options .touch-devices .signIn:hover ul {
  display: block;
}
.container .more-options .touch-devices {
  display: none;
}
@media screen and (max-width: 768px) {
  .container .more-options .big-devices {
    display: none;
  }
  .container .more-options .touch-devices {
    display: flex;
    align-items: flex-end;
    gap: 5px;
  }
  .container .more-options .touch-devices .enableOnClick.disabled {
    display: none;
  }
}
.container .chat-box-touch-devices {
  display: none;
}
.container h1 {
  padding: 10px 0;
  padding-bottom: 30px;
  color: #fff;
  text-decoration: underline;
}
.container .prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
}
.container .hello-msg {
  margin-bottom: 20px;
  margin-top: 10px;
  background: rgba(115, 101, 166, 0.36);
  border: 1px solid #fff;
  border-radius: 10px/20px;
  box-shadow: 0 0 10px 2px #333;
}
.container .hello-msg svg {
  width: 500px;
  height: 60px;
}
.container .hello-msg .text-copy {
  fill: none;
  /*   stroke: #fff; */
  stroke-dasharray: 6% 29%;
  stroke-width: 0.3px;
  stroke-dashoffset: 0%;
  -webkit-animation: anim 5.5s infinite linear;
          animation: anim 5.5s infinite linear;
}
.container .hello-msg .text-copy:nth-child(1) {
  stroke: #f25f5c;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.container .hello-msg .text-copy:nth-child(2) {
  stroke: #f25f5c;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
.container .hello-msg .text-copy:nth-child(3) {
  stroke: #247ba0;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
.container .hello-msg .text-copy:nth-child(4) {
  stroke: #247ba0;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}
.container .hello-msg .text-copy:nth-child(5) {
  stroke: #ffe066;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}
@-webkit-keyframes anim {
  100% {
    stroke-dashoffset: -35%;
  }
}
@keyframes anim {
  100% {
    stroke-dashoffset: -35%;
  }
}
.container .chat-box.disable {
  opacity: 0;
}
.container .chat-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 4fr auto;
  height: 80%;
  width: 80%;
  border: 1px solid #fff;
  box-shadow: 0 0 10px 2px #333;
}
.container .chat-box .box:nth-of-type(1) {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: #fff;
}
.container .chat-box .box:nth-of-type(1) div {
  border-radius: 4px;
  padding: 5px 10px;
  margin: 2px;
  font-weight: 800;
  text-transform: capitalize;
}
.container .chat-box .box:nth-of-type(1) .user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .chat-box .box:nth-of-type(1) .user .contextTriggerBtn {
  position: relative;
  margin-left: auto;
}
.container .chat-box .box:nth-of-type(1) .user .contextTriggerBtn .contextMenu {
  border: 1px solid #333;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
}
.container .chat-box .box:nth-of-type(1) .user .contextTriggerBtn .contextMenu div ul {
  list-style: none;
}
.container .chat-box .box:nth-of-type(1) .user .contextTriggerBtn .contextMenu div ul li button {
  width: 180px;
  padding: 5px;
  margin: 5px 0px;
}
.container .chat-box .box:nth-of-type(1) .user .contextTriggerBtn .contextMenu.visible {
  display: block;
}
.container .chat-box .box:nth-of-type(2) {
  overflow: auto;
  border-left: none;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  color: #fff;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.container .chat-box .box:nth-of-type(2)::-webkit-scrollbar {
  display: none;
}
.container .chat-box .box:nth-of-type(2) div {
  margin: 2px;
  border-radius: 4px;
  padding: 5px 10px;
  font-weight: 800;
  text-transform: capitalize;
}
.container .chat-box .box:nth-of-type(2) .right {
  align-self: flex-end;
}
.container .chat-box .box:nth-of-type(2) .left {
  align-self: flex-start;
}
.container .chat-box .box:nth-of-type(2) .chat-msg {
  display: flex;
  flex-direction: column;
}
.container .chat-box .box:nth-of-type(2) .chat-msg .subscript {
  font-size: x-small;
  text-transform: lowercase;
}
.container .chat-box .box:nth-of-type(3) {
  height: 50px;
  align-self: end;
  border-left: none;
}
.container .chat-box .box:nth-of-type(3) input {
  border: none;
  width: 100%;
  font-size: 1.5rem;
  padding: 0 5px;
  background-color: transparent;
  color: #fff;
  outline: none;
}
.container .chat-box .box:nth-of-type(3) .sendBtn {
  width: 80px;
  background: burlywood;
  border-radius: 5px;
  color: #fff;
  text-shadow: 2px 2px 5px #333;
  font-weight: 800;
}
.container .box {
  border: 1px solid #fff;
  display: flex;
}
.container .notificationDiv {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: min(420px, 95%);
}
.container .notificationDiv .popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .notificationDiv .popup-container .card-container {
  display: grid;
  place-items: center;
  position: relative;
  width: min(420px, 95%);
  height: 200px;
  border-radius: 1rem;
  background-color: #fff;
  overflow: hidden;
}
.container .notificationDiv .popup-container .card-container .card {
  width: 99%;
  height: 99%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #333;
  background-color: rgb(39, 212, 234);
  border-radius: 1rem;
  overflow: hidden;
  z-index: 1;
}
.container .notificationDiv .popup-container .card-container .card ul {
  font-size: 16px;
  text-align: justify;
  padding: 5px;
  margin-top: 5px;
  overflow: auto;
}
.container .notificationDiv .popup-container .card-container .card p {
  font-size: x-large;
  text-decoration: underline;
  margin-top: 5px;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
}
.container .notificationDiv .popup-container .card-container .card .btn {
  margin-top: 5px;
  width: 60px;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  transition: background-color 0.3s;
  position: absolute;
  bottom: 20px;
}
.container .notificationDiv .popup-container .card-container .card .btn:hover {
  background-color: #fff;
}
.container .notificationDiv .popup-container .card-container .card .btn a {
  color: #333;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  padding: 2px 0;
}
.container .notificationDiv .popup-container .card-container .card .btn-justify-col {
  display: flex;
  justify-content: center;
}
.container .notificationDiv .popup-container .card-container .card .btn-justify-col div {
  width: 100px;
  margin: 5px;
}
.container .notificationDiv .popup-container .card-container::before {
  content: "";
  position: absolute;
  width: 480px;
  height: 35px;
  top: -130px;
  right: 200px;
  background-color: #377953;
  transform: rotate(-45deg) translate(0, -100px);
}
.container .notificationDiv .popup-container .card-container:hover::before {
  -webkit-animation-name: cardEffect;
          animation-name: cardEffect;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}
@-webkit-keyframes cardEffect {
  100% {
    transform: rotate(-45deg) translate(0, 600px);
  }
}
@keyframes cardEffect {
  100% {
    transform: rotate(-45deg) translate(0, 600px);
  }
}
.container .notificationDiv .popup-container .card-container .close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: x-large;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0px 10px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.3s;
}
.container .notificationDiv .popup-container .card-container .close:hover {
  background-color: #fff;
}
.container .notificationDiv.disable {
  display: none;
}
@media screen and (max-width: 768px) {
  .container .more-options {
    width: 100%;
    margin: auto;
  }
  .container .chat-box {
    margin-top: 50px;
    height: 95%;
    width: 95%;
    display: none;
  }
  .container .chat-box-touch-devices {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr auto;
    height: 90vh;
    width: 95vw;
    margin-top: 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px 2px #333;
  }
  .container .chat-box-touch-devices .box:nth-of-type(1) {
    overflow: auto;
    border-left: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    color: #fff;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .container .chat-box-touch-devices .box:nth-of-type(1)::-webkit-scrollbar {
    display: none;
  }
  .container .chat-box-touch-devices .box:nth-of-type(1) div {
    margin: 2px;
    border-radius: 4px;
    padding: 5px 10px;
    font-weight: 800;
    text-transform: capitalize;
  }
  .container .chat-box-touch-devices .box:nth-of-type(1) .right {
    align-self: flex-end;
  }
  .container .chat-box-touch-devices .box:nth-of-type(1) .left {
    align-self: flex-start;
  }
  .container .chat-box-touch-devices .box:nth-of-type(1) .chat-msg {
    display: flex;
    flex-direction: column;
  }
  .container .chat-box-touch-devices .box:nth-of-type(1) .chat-msg .subscript {
    font-size: x-small;
    text-transform: lowercase;
  }
  .container .chat-box-touch-devices .box:nth-of-type(2) {
    height: 50px;
    align-self: end;
    border-left: none;
  }
  .container .chat-box-touch-devices .box:nth-of-type(2) input {
    border: none;
    width: 100%;
    font-size: 1.5rem;
    padding: 0 5px;
    background-color: transparent;
    color: #fff;
    outline: none;
  }
  .container .chat-box-touch-devices .box:nth-of-type(2) .sendBtn {
    width: 80px;
    background: burlywood;
    border-radius: 5px;
    color: #fff;
    text-shadow: 2px 2px 5px #333;
    font-weight: 800;
  }
  .container h1 {
    padding: 10px 0;
    padding-top: 30px;
    font-size: large;
    color: #fff;
  }
  .container .hello-msg {
    display: none;
  }
}