* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./Assets/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}
body .prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
}
body header .navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
body header .navbar ul li {
  color: #fff;
  font-weight: 700;
  padding: 10px 5px;
  margin: 0 5px;
  cursor: pointer;
  outline: 3px solid #fff;
  text-shadow: none;
  transition: text-shadow 0.3s;
}
body header .navbar ul li:hover {
  text-shadow: 1px 1px 3px #000;
}
body header .navbar ul .brand-icon-mag ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .navbar ul .brand-icon-mag ul .logo {
  padding: 0;
  scale: 0.8;
  outline: none;
}
body header .navbar ul .chat-options ul,
body header .navbar ul .more-options ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .navbar ul .chat-options ul a,
body header .navbar ul .more-options ul a {
  text-decoration: none;
  color: #fff;
}
body header .navbar ul .chat-options ul .profile,
body header .navbar ul .more-options ul .profile {
  position: relative;
  width: 105px;
  padding: 0;
  text-align: center;
}
body header .navbar ul .chat-options ul .profile ul,
body header .navbar ul .more-options ul .profile ul {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 150%;
  transform: translateX(-50%);
}
body header .navbar ul .chat-options ul .profile ul li,
body header .navbar ul .more-options ul .profile ul li {
  width: 100px;
  margin: 3px 0;
}
body header .navbar ul .chat-options ul .profile-tab:hover ul,
body header .navbar ul .more-options ul .profile-tab:hover ul {
  display: flex;
}
body header .navbar ul .chat-options ul .share ul,
body header .navbar ul .more-options ul .share ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 40%;
  transform: translate(-50%, -4px);
}
body header .navbar ul .chat-options ul .share:hover ul,
body header .navbar ul .more-options ul .share:hover ul {
  display: block;
}
body header .navbar ul .chat-options .touch-devices ul,
body header .navbar ul .more-options .touch-devices {
  display: none;
}
@media screen and (max-width: 768px) {
  body header .navbar ul {
    align-items: flex-start;
    margin-top: 5px;
    margin-right: auto;
  }
  body header .navbar ul .brand-icon-mag ul {
    margin-top: 10px;
    margin-left: 5px;
  }
  body header .navbar ul .brand-icon-mag ul .logo {
    display: none;
  }
  body header .navbar ul .chat-options {
    margin-left: auto;
    transition: transform 1s;
  }
  body header .navbar ul .chat-options .big-devices,
body header .navbar ul .more-options .big-devices {
    display: none;
  }
  body header .navbar ul .chat-options .touch-devices,
body header .navbar ul .more-options .touch-devices {
    display: block;
    margin-top: 10px;
    text-align: center;
    margin-right: 5px;
  }
  body header .navbar ul .chat-options .touch-devices ul,
body header .navbar ul .more-options .touch-devices ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }
  body header .navbar ul .chat-options .touch-devices ul li,
body header .navbar ul .more-options .touch-devices ul li {
    width: 100px;
    text-align: center;
  }
  body header .navbar ul .chat-options .touch-devices .enableOnClick.disabled,
body header .navbar ul .more-options .touch-devices .enableOnClick.disabled {
    display: none;
  }
}
body main section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body main section .disclaimer {
  color: #fff;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-weight: 800;
}
body main section .disclaimer h3 {
  align-self: center;
  font-size: x-large;
  text-decoration: underline;
  padding-bottom: 15px;
}
body #popup.disable, body #popup-private.disable, body .notificationDiv.disable {
  display: none;
}
body #popup .popup-container, body #popup-private .popup-container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #popup .popup-container .card-container, body #popup-private .popup-container .card-container {
  display: grid;
  place-items: center;
  position: relative;
  width: 420px;
  height: 200px;
  border-radius: 1rem;
  background-color: #fff;
  overflow: hidden;
}
body #popup .popup-container .card-container .card, body #popup-private .popup-container .card-container .card {
  width: 99%;
  height: 99%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #333;
  background-color: #fbd100;
  border-radius: 1rem;
  overflow: hidden;
  z-index: 1;
}
body #popup .popup-container .card-container .card ul, body #popup-private .popup-container .card-container .card ul {
  font-size: 16px;
  text-align: justify;
  padding: 5px;
  margin-top: 5px;
}
body #popup .popup-container .card-container .card p, body #popup-private .popup-container .card-container .card p {
  font-size: xx-large;
  text-decoration: underline;
  margin-top: 5px;
}
body #popup .popup-container .card-container .card .btn, body #popup-private .popup-container .card-container .card .btn {
  margin-top: 5px;
  width: 60px;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  transition: background-color 0.3s;
}
body #popup .popup-container .card-container .card .btn:hover, body #popup-private .popup-container .card-container .card .btn:hover {
  background-color: #fff;
}
body #popup .popup-container .card-container .card .btn a, body #popup-private .popup-container .card-container .card .btn a {
  color: #333;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  padding: 2px 0;
}
body #popup .popup-container .card-container .card .btn-justify-col, body #popup-private .popup-container .card-container .card .btn-justify-col {
  display: flex;
  justify-content: center;
}
body #popup .popup-container .card-container .card .btn-justify-col div, body #popup-private .popup-container .card-container .card .btn-justify-col div {
  width: 100px;
  margin: 5px;
}
body #popup .popup-container .card-container::before, body #popup-private .popup-container .card-container::before {
  content: "";
  position: absolute;
  width: 480px;
  height: 35px;
  top: -130px;
  right: 200px;
  background-color: #377953;
  transform: rotate(-45deg) translate(0, -100px);
}
body #popup .popup-container .card-container:hover::before, body #popup-private .popup-container .card-container:hover::before {
  -webkit-animation-name: cardEffect;
          animation-name: cardEffect;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}
@-webkit-keyframes cardEffect {
  100% {
    transform: rotate(-45deg) translate(0, 600px);
  }
}
@keyframes cardEffect {
  100% {
    transform: rotate(-45deg) translate(0, 600px);
  }
}
body #popup .popup-container .card-container .close, body #popup-private .popup-container .card-container .close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: x-large;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0px 10px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.3s;
}
body #popup .popup-container .card-container .close:hover, body #popup-private .popup-container .card-container .close:hover {
  background-color: #fff;
}
body footer {
  position: absolute;
  color: #fff;
  top: 95vh;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  body main section {
    width: min(100% - 2rem, 700px);
  }
  body #popup .popup-container .card-container {
    width: min(90%, 420px);
  }
}