.container .chat-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
  width: 50%;
}
.container .chat-box #chat-window {
  height: auto;
}
.container .chat-box .box {
  position: relative;
  height: 40px;
}
.container .chat-box .box #userMsg {
  height: 100%;
  width: auto;
}
.container .chat-box .box .sendBtn {
  position: absolute;
  right: 0;
  height: 40px;
  width: 100px;
  font-weight: 500;
}
.container .chat-box .box .chat-msg .subscript {
  display: none;
  font-size: x-small;
}
.container .chat-box div.left {
  align-self: flex-start;
  text-align: start;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.container .chat-box div.right {
  align-self: flex-end;
  text-align: end;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.container .chat-box .notificationDiv.disable {
  display: none;
}
@media screen and (max-width: 768px) {
  .container .chat-box {
    width: auto;
  }
}